h1, h2, h3 {
    font-family: tahoma,"Microsoft YaHei",sans-serif;
    font-size: 18px;
    padding: 8px 0;
}
/*container pages*/
div.related ul {
    border-bottom: 1px dotted #CCCCCC;
    height: 2em;
    list-style: none outside none;
    padding: 0;
}
div.related ul li {
    float: left;
    height: 2em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div.related li {
    display: inline;
}
div.related ul li a {
    color: #80C269;
    line-height: 1.75em;
    margin: 0;
    padding: 0 5px;
}
div.related ul li a:hover{
	color:#f60;
}
div.section{
	padding:5px 0;
}
#module{
	margin:5px 0 0;
}
.example{
	padding:5px 0 0;
}
#module .desc table{
	border-collapse:collapse;
	width:100%;
}
#module .desc table th{	
	padding:5px;	
	border:1px solid #ccc;
	background:#ddd;
}
#module .desc table td{
	padding:5px;	
	border:1px solid #ccc;
	background:#fff;
}